.benefits
{
display: grid;
grid-template-columns: auto auto auto;
justify-content: center;
margin:20px;
/* align-items: center; */
}

.hid
{
    margin:40px;
    height:200px;
    width:200px;
    border-radius: 10%;
}
.img{
    height: 200px; width: 200px; border:2px solid black;
    
}
.btn1{
    margin-top:10px;
    
}
.btn2{
    background-color: bisque;
    border-radius: 20%;
    padding:10px;
    /* margin:0 auto; */
}
.text1
{
    visibility: hidden;
}
footer{
    margin-top: 30px;
}
